#userInfo {
    width: 30vw;
    margin: 0 auto;
    position: relative;
    top: 10vh;
    background-color: rgba(10,10,10,0.3);
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 20px;
    font-family: Poppins;
}
#userWrapper {
    background: rgba(10,10,10,0.3);
    height: 100vh;
}
#dashboardWrapper {
    padding: 1em;
    display: flex;
    height: 91vh;
    border-radius: 20px;
    padding: 20px;
}
#dashboardContainer {
    
    
}
.DashboardWrapper {
    width: 50%;
}
.DashboardWrapper .MuiCardHeader-content span {
    font-size: 20px;
    color: white;
}
.DashboardWrapperTwo .MuiCardHeader-content span {
    font-size: 20px;
    color: white;
}
.DashboardWrapper .MuiCardHeader-content span:nth-child(2)::after{
    content: ' Token';
    font-size: 20px;
    color: white;
}
.DashboardMedia {
    height: 0;
    padding-top: '56.25%';
}
.DashboardAvatar {
    background: red !important;
}
/* .MuiCardHeader-content span {
    
}
.MuiCardHeader-content span:nth-child(2)::after {
    
} */
.MuiCardHeader-root {
    width: 100% !important
}
.MuiCard-root {
    color: white !important;
    width: 22vw;
    background-color: yellowgreen !important;
}
#DashboardContainer {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-top: 5vh
}

#dashboardLeft {
    background-color: beige;
    /* height: fit-content; */
    height: 100%;
    width: 20%;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    font-size: 120%;
}
#leftInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.rightBtns button {
    background: transparent;
    border: unset;
    margin: 10px;
}
#leftInfo span {
    color: gray;
    margin-bottom: 5px;
}
#leftInfo img {
    border-radius: 50%;
    width: 50%;
    margin: 30px auto;
}
#dashboardRight {
    /* background-color: blue; */
    /* height: fit-content; */
    height: 100%;
    width: 80%;
    border-radius: 10px;
}
#rightTopBar {
    display: flex;
    flex-direction: row;
    height: fit-content;
}
#tokenAmount {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 20px;
    padding: 2%
}
.amountInner p {
    font-size: 3vw;
}
.amountInner span {
    font-size: 1vw;
    color: grey;
}
#rightRefferalBar {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 11px;
    padding: 2%;
}
#referralLine {
    width: 90%;
    text-align: center;
    margin: 10px;
}
@media screen and (max-width: 1028px) {
    #dashboardWrapper {
        flex-direction: column;
    }
    #dashboardLeft {
        display: flex;
        width: 100%;

    }
    #rightRefferalBar {
        width: 90%;
    }
    #referralLine {
    }
    #dashboardRight {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    #rightTopBar {
        flex-direction: column;
        width: 100%;
    }
    #tokenAmount {
        width: 90%;
        text-align: center;
        margin: 10px;
    }
    .amountInner p {
        font-size: 10vw;
    }
    .amountInner span {
        font-size: 6vw;
        color: grey;
    }
}
