#login-wrapper {
    background-color: #013162;
    height: 100vh;
    padding-top: 100px;
}
#overlay {
    width: 30vw;
    margin: 0 auto;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
}
#logo-wrapper {
    display: flex;
}
#logo-wrapper img{
    width: 20%;
    margin: 0 auto;
}
#login-welcometext p {
    font-size: 2vw;
    text-align: center;
    margin-top: 10px;
}
#login-input input {
    width: 100%;
    border: unset;
    margin-bottom: 20px;
}
#login-input input:focus {
    outline: unset
}
@media screen and (max-width: 1028px) {
    #overlay {
        width: 90vw;
        padding: 10vw
    }
}